.baseBtn {
  @apply inline-block px-6 py-2.5 rounded-xl font-bold text-xl border border-solid;
}

.moveBtn {
  @apply w-16 h-16 pt-4 bg-custom-blue text-white font-bold bg-no-repeat bg-[center_top];
}

.filled {
  @apply bg-custom-blue text-white border-custom-blue hover:text-custom-blue hover:border-custom-blue hover:bg-transparent;
}

.outline {
  @apply text-custom-blue border-custom-blue hover:bg-custom-blue hover:text-white hover:border-transparent;
}

.iconBtn {
  @apply w-14 h-14 rounded-xl bg-custom-gray-200;
}

.iconBtn.delete:hover {
  background-color: #f37c4b;
}

.iconBtn.modify:hover {
  background-color: #7071e8;
}

.iconBtn.delete:hover svg path,
.iconBtn.modify:hover svg path {
  fill: white;
}
