@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* reset css */
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  * {
    box-sizing: border-box;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: "";
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  button {
    font-family: inherit;
    cursor: pointer;
    padding: 0;
    border: none;
    background: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  /* 폰트 설정 */
  @font-face {
    font-family: "NanumSquareNeoOTF-Rg";
    src: url("/asset/font/NanumSquareNeoOTF-Rg.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "NanumSquareNeoOTF-Bd";
    src: url("/asset/font/NanumSquareNeoOTF-Bd.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "NanumSquareNeoOTF-Hv";
    src: url("/asset/font/NanumSquareNeoOTF-Hv.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  /* 기본 스타일 설정 */
  body {
    font-family: "sans-regular";
    box-sizing: border-box;
    background-color: #f9f9f9;
  }

  .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    height: 2.5rem;
    border: 0;
  }
}

@layer components {
  /* 접근성을 위한 숨김 */
  .a11y-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
  }

  /* 텍스트 줄임 */
  .shorten2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  .shorten3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  .max-width {
    width: 1224px;
    max-width: calc(100% - 2.5rem);
    margin: 0 auto;
  }
}
